/* waves.module.css */
.wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  